body {
	width: 33%;
}

#res {
	background-color: lightgray;
	border: solid;
	height: 48px;
	font-size: 20px;
}

#btns > * {
	width: 25%;
	height: 36px;
	font-size: 18px;
	margin: 0px;
	float: left;
}

#btn0, #btn1 {
	background-color: lightgreen;
	color: brown;
}

#btnClr, #btnEql {
	background-color: darkgreen;
	color: white;	
}

#btnSum, #btnSub, #btnMul, #btnDiv {
	background-color: black;
	color: red;	
}
